@import url('https://fonts.googleapis.com/css?family=Poppins');

.four-day-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 7px;
}

.four-day-list {
    width: 166px;
    height: 200px;
    padding: 10px 0px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#thunderstorm-4d {
    background-image: url('../assets/images/Thunderstorm.png');
}

#sunny-4d {
    background-image: url('../assets/images/Sunny.png');
}