.container-24hr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

.weather-list-24hr {
    width: 166px;
    height: 205px;
    padding: 10px 15px;
    background: linear-gradient(180deg, rgba(100, 104, 162, 0.3) 0%, rgba(28, 28, 65, 0.3) 100%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.weather-list-24hr .timing {
    color: #EBA440;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}

.weather-icon-24hr {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

.weather-list-24hr .forecast {
    text-align: center;
}

.thunderstorm-24hr{
    background-image: url('../assets/images/Thunderstorm.png');
}

.sunny-24hr {
    background-image: url('../assets/images/Sunny.png');
}

.cloudy-24hr {
    background-image: url('../assets/images/Cloudy.png');
}

.showers-24hr {
    background-image: url('../assets/images/Heavy_Rain.png');
}

.light-rain-24hr {
    background-image: url('../assets/images/Light_Rain.png');
}