.weather-icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#thunderstorm-2hr{
    background-image: url('../assets/images/Thunderstorm.png');
}

#sunny-2hr {
    background-image: url('../assets/images/Sunny.png');
}

#cloudy-2hr {
    background-image: url('../assets/images/Cloudy.png');
}

#showers-2hr {
    background-image: url('../assets/images/Heavy_Rain.png');
}