.uvi-container {
    padding: 10px;
    width: 390px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: top;
}

.uvi-left-column {
    display: block;
    text-align: center;
    margin-top: -20px;
}

.uvDisplay {
    margin: 50px 10px -10px 10px;
    height: 170px;
    width: 170px;
    line-height: 140px;
    border-radius: 50%;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.uvi-right-column {
    text-align: center;
    margin: 7px;
}

#greenUV {
    border: 20px solid #579c00;
    color: #579c00;
}

#yellowUV {
    border: 20px solid rgb(248, 206, 9);
    color: rgb(248, 206, 9);
}

#orangeUV {
    border: 20px solid #ff8400;
    color: #ff8400;
}

#redUV {
    border: 20px solid #d80000;
    color: #d80000;
}

#purpleUV {
    border: 20px solid #7031a1;
    color: #7031a1;
}